

@media screen and (min-width: 768px) {

  /****************
  HEADER
  ****************/

  nav li {
    display: inline-block;
  }

  /****************
  INTRODUCTION
  ****************/

  .profile-img {
    display: inline-block;
    float: right;
    width: 40%;
    padding-right: 10%;
  }

  /****************
  PORTFOLIO
  ****************/

  #main-content {
    padding-bottom: 50px;
  }

  #main-content div {
    float: left;
    width: 45%;
    margin: 1%;
  }

  .project-img {
    width: 100%;
    padding: 0;
  }

  /****************
  CONTACT
  ****************/



@media screen and (min-width: 1024px) {

  /****************
  HEADER
  ****************/

  nav {
    background: none;
    float: right;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  nav li {
    display: inline-block;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
